 <md-card md-theme-watch=""  class="home-footer-outer-div">
    <section  class="container parallax1 " style="padding:0px;">
         <div class="inner">
                <!-- Boxes -->
                <div class="service-boxes">
                    <!-- Box 1 -->
                    <div class="col-xs-12 service-box animated" data-animation="fadeIn" data-animation-delay="200"
                          data-toggle="tooltip" data-placement="top" >
                        <img src="app/assets/img/angularjs_logo.png" style="width:320px;height:90px;" alt="Logo" />
                    </div>

                </div>
                <span class="home-footer-copyright-span">© 2017 All Rights Reserved. by Jana Kesineni.</span>
            </div> 
    </section>
</md-card>