<md-card  md-theme-watch=""  class="about-outer-div">
    <div ng-controller="AboutUsContoller as vm" class="about-content-div">
        <div href back-button class="about-close-button-div" ng-click="vm.go2Home()">
            <img src="app/assets/img/red_cross.png" style="width:36px;height:36px;" />
        </div>
        <div style="padding-left:150px;padding-right:150px;">
               <div style="padding-bottom:0px;padding-top:-20px;">
                    <h3 class="text-center"><span style="color:#00a58e;font-weight:500;">About US</span></h3>
                </div>
                <p class="h-desc" style="font-weight:300;">
                    Founded in 2017 with a mission of integrating learning services and bringing teachers network very close to students, by means of providing search right and near tutorials's and get their videos quickly and do complete any course"
                </p>              
            </div>
      </div>
</md-card>